.img1 {
    margin-left: 500px;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}


.container img {
  width: auto;
  height: auto;
}


.container .btn1 {
  position: absolute;
  top: 33.5%;
  left: 97.5%;
  transform: translate(-130%, -130%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 700px;
  font-size: 10px;
  width: 11px;
  text-align: center;
}

.container .btn2 {
    position: absolute;
    top: 39.6%;
    left: 113.1%;
    transform: translate(-130%, -85%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 700px;
    font-size: 10px;
    width: 11px;
    text-align: center;
  }
  .container .btn3 {
    position: absolute;
    top: 40%;
    left: 88%;
    transform: translate(-130%, -85%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 700px;
    font-size: 10px;
    width: 11px;
    text-align: center;
  }
  .container .btn4 {
    position: absolute;
    top: 47.5%;
    left: 88.2%;
    transform: translate(-130%, -85%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 700px;
    font-size: 10px;
    width: 11px;
    text-align: center;
  }
  .container .btn5 {
    position: absolute;
    top: 54.5%;
    left: 95.2%;
    transform: translate(-130%, -85%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 700px;
    font-size: 10px;
    width: 11px;
    text-align: center;
  }
  .container .btn6 {
    position: absolute;
    top: 70.2%;
    left: 87.7%;
    transform: translate(-140%, -90%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 700px;
    font-size: 10px;
    width: 11px;
    text-align: center;
  }
.container button:hover {
  background-color: blue;
}

h1 {
    text-align: center;
    background: -webkit-linear-gradient(yellow, red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
* {
    font-family: 'Audiowide', cursive;
}
marquee {
   color: orange;
}
body {
    background-image: url(background1.png);   
}